<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FiltroPrincipal</filter-name>
        <filter-class>com.mundodental.control.FiltroPrincipal</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroPrincipal</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.mundodental.control.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Principal</servlet-name>
        <servlet-class>com.mundodental.control.Principal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SPacientes</servlet-name>
        <servlet-class>com.mundodental.control.SPacientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCitas</servlet-name>
        <servlet-class>com.mundodental.control.SCitas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SConsultas</servlet-name>
        <servlet-class>com.mundodental.control.SConsultas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SProductos</servlet-name>
        <servlet-class>com.mundodental.control.SProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SVentas</servlet-name>
        <servlet-class>com.mundodental.control.SVentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCompras</servlet-name>
        <servlet-class>com.mundodental.control.SCompras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletError</servlet-name>
        <servlet-class>com.mundodental.control.ServletError</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SDoctores</servlet-name>
        <servlet-class>com.mundodental.control.SDoctores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SMembresias</servlet-name>
        <servlet-class>com.mundodental.control.SMembresias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SConfiguracion</servlet-name>
        <servlet-class>com.mundodental.control.SConfiguracion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SReportes</servlet-name>
        <servlet-class>com.mundodental.control.SReportes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SUsuarios</servlet-name>
        <servlet-class>com.mundodental.control.SUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRoles</servlet-name>
        <servlet-class>com.mundodental.control.SRoles</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>
            Login
        </welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>Principal</servlet-name>
        <url-pattern>/Principal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SPacientes</servlet-name>
        <url-pattern>/SPacientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCitas</servlet-name>
        <url-pattern>/SCitas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SConsultas</servlet-name>
        <url-pattern>/SConsultas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SProductos</servlet-name>
        <url-pattern>/SProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SVentas</servlet-name>
        <url-pattern>/SVentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCompras</servlet-name>
        <url-pattern>/SCompras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletError</servlet-name>
        <url-pattern>/Error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SDoctores</servlet-name>
        <url-pattern>/SDoctores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SMembresias</servlet-name>
        <url-pattern>/SMembresias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SConfiguracion</servlet-name>
        <url-pattern>/SConfiguracion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SReportes</servlet-name>
        <url-pattern>/SReportes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SUsuarios</servlet-name>
        <url-pattern>/SUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRoles</servlet-name>
        <url-pattern>/SRoles</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/Error</location>
    </error-page>
</web-app>
