*{ 
    margin: 0px;
}

#sidebar {
    /*Strictly Necessary */
    position:fixed; 
    height: 100%;
    width:15%;
    margin: 0px;  
 
}


#rightSideWrapper {
    /*Strictly Necessary */
    width:85%; 
    float: right;

    /*Aesthetics*/
    background: black;	
}

header {
    /*Strictly Necessary */
    position: fixed;
    width: 100%;	
    height: 85px;
    background: lightSalmon;
    top: 0px;
    z-index: 3;
}

.ContentBox{
    margin-top: 100px; /*The height of the   header*/
    display:flex;
    flex-flow: row wrap;
} 

main, section, footer {
    /*Aesthetics*/
    background: lightgray; 
    border-radius: 7px; 
    margin: 5px; 
    padding: 20px;
}
main {
    /*Strictly Necessary */
    order: 1;
    flex: 0 1 100%; 

}

section {
    /*Strictly Necessary */
    order: 2;
    flex: 0 1 100%;

}

footer {
    /*Strictly Necessary */
    order: 3;
    flex: 0 1 100%;

}

.form-check{
    position: relative;
}