.contenedorBotones{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
button{
    width: 180px;
    height: 60px;
    border: none;
    background: #3a7999;
    padding: 5px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    box-sizing: border-box;
    border: black 2px;
}
button:hover{
    outline: none;
    background-color: #AFEEEE;
    transition: all 1s ease-in-out;
    color: black;
}
.iconm{
    font-size: 20px;
    padding: 10px;
}

