*{ 
    margin: 0px;
}

#sidebar {
    /*Strictly Necessary */
    position:fixed; 
    height: 100%;
    width:15%;
    margin: 0px;  
 
    overflow: auto;
}

.list-group-item, header, #sidebar{
    color: white;
    background-color: #007c91;
}
.list-group-item:hover{
    color: #007c91;
    background-color: white;
    text-decoration: none;
}
#rightSideWrapper {
    /*Strictly Necessary */
    width:85%; 
    float: right;

    /*Aesthetics*/
    background: black;	
}

header {
    /*Strictly Necessary */
    position: fixed;
    width: 85%;	
    height: 50px;
    z-index: 3;
}
.logo{
    height: 50px;
}

.ContentBox{
    margin-top: 50px; /*The height of the   header*/
    display:flex;
    flex-flow: row wrap;
} 

main, section, footer {
    /*Aesthetics*/
    background: lightgray; 
    border-radius: 7px; 
    margin: 3px; 
    padding: 25px;
}
main {
    /*Strictly Necessary */
    order: 1;
    flex: 0 1 100%; 

}

section {
    /*Strictly Necessary */
    order: 2;
    flex: 0 1 100%;

}

footer {
    /*Strictly Necessary */
    order: 3;
    flex: 0 1 100%;

}

.form-check{
    position: relative;
}